*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    color:blanchedalmond;
    font-size: 20px;
}
body{
    background-size: 100%;
    background-color: rgb(31, 31, 31);
    margin-left: 5%;
    margin-right: 5%;
}
.close{
  display: none;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    top:0;
    bottom: 100px;
    position: sticky;
    width: 100%;
    height: 6rem;
}
#post{
  height: 100%;
}

img {
  height: 10rem;
}
h1{
  font-size: 40px;
}

h1, h2{
  color: rgb(19, 165, 0);
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

h3{
  color: rgb(19, 165, 0);
  font-size: 27px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.MobileMenu {
    position: absolute;
    opacity: 0;
}

.Information{
    width:75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.87);
}
.Information a{
    font-size: 150%;
    font-family: Western;
    font-weight: 600;
    color: rgb(96, 192, 0);
}
main{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
}

a.anchor{
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

h1 .headings{
  text-align: center;
  padding-top: 7rem;
}

#Lang, #IDE, #Prog{
  padding-top: 10rem;
}

button{
    background: none;
    border: none;
    cursor: pointer;
    color:rgb(0, 140, 205);
}
.overlay {
  position: fixed;
  backdrop-filter: blur(4px);
  z-index: 5;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6); 
  display: none;
}
.overlay.active {
  display: block;
}
.overlay .flex-popap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay .flex-popap .popap {
  position: relative;
  background: radial-gradient(circle at top right, rgb(0, 0, 0), rgb(32, 192, 0)); 
  padding: 35px 25px;
  margin: 0 10px;
  max-width: 450px;
  overflow: auto;
}
.popap h2{
  color: rgb(255, 196, 0);
  font-weight: 900;
  font-style:italic;
}
.popap h2~p{
  color: #ffffff;
}
.popap button {
  position: absolute;
  color: rgb(120, 0, 0);
  top: 15px;
  right: 25px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
section#Lang{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#Lang h2{
  font-size: 30px ;
}
.Lang{
  width: 100%;
  padding: 10px;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section#Lang button{
  font-size: 30px;
}
.im{
  width: 18%;
  margin: 25px;
  display: flex;
  flex-direction: column;
}
.im img{
  min-width: 40px;
}



.ide{
  display: grid;
  row-gap: 50px;
  justify-content: center;
  align-items: center;
}


#IDE p{
  color:blanchedalmond;
}
#IDE h2{
  font-size: 30px;
  color: rgb(0, 140, 205);
}
#IDE img{
  max-width: 30%;
  max-height: 30%;
}
#IDE a{
  color: rgb(59, 59, 253);
}
.VS, .NetB, .PyCharm, .Idea, .Eclipse, .Blocks{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.game{
  text-align: left;
  font-size: 30px;
}
#Prog li{
  font-size: 25px;
  color: rgb(0, 140, 205);
  padding-top: 17px;
  padding-bottom: 7px;
}
#Prog img{
  max-width: 40%;
  max-height: 40%;
}

footer{
  margin-top: 2rem;
  width: 100%;
  display: block;
  text-align: center;
}
footer p{
  color: whitesmoke;
  font-size: 14px;
}
footer a{
  font-size: 14px;
  color: rgb(0, 170, 170);
  text-decoration:underline;
}

@media screen and (max-width: 1300px) and (min-width: 900px){
  .Information{
    font-size: 70%;
  }
  h1, h2{
    font-size: 150%;
  }
  section#Lang .popap h2{
    font-size: 24px;
  }
  .popap h2~p{
    font-size: 16px;
  }
  section#Lang button{
    font-size: 22px;
  }
}
@media screen and (max-width: 900px){
  *{
    font-size: 14px;
  }
  body{
    margin:0;
  }
  header{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 0;
    justify-content: left;
  }
  h1, h2{
    font-size: 110%;
    padding: 0;
  }
  h3{
    font-size: 100%;
  }
  main{
    margin-top: 3rem;
  }
  section#Lang button{
    font-size: 16px;
  }
  .Lang{
    padding-top: 0;
    padding-right: 18rem;
  }
  
  #IDE h2{
    font-size: 16px;
  }
  .game{
  text-align: left;
  font-size: 110%;
  }




  .Information{
    display: none;
  }
  header img{
    display: none;
  }
  .Information.active{

    display: flex;
    flex-direction: column;
    width: 8rem;
  }
  header img.active{
    display: block;
    height: 4rem;
    width: 8rem;
  }
  .Information a{
    font-size: 90%;
    margin-bottom: 1rem;
  }
  .close.active{
    display: inline-block;
  }
  .MobileMenu {
        opacity: 1;
        margin: 1rem;
        margin-top: 1rem;
        padding: 0;
        position: absolute;
        border: none;
        width: 4rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .MobileMenu .line, .MobileMenu .line::after, .MobileMenu .line::before {
        display: inline-block;
        background-color: rgb(19, 165, 0);
        height: 4px;
    }
    .MobileMenu .line {
        width: 100%;
        position: relative;
    }
    .MobileMenu .line::after, .MobileMenu .line::before {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
    }
    .MobileMenu .line::before {
        top: .5rem;
    }
    .MobileMenu .line::after {
        top: -.5rem;
    }
    .MobileMenu.active{
      display: none;
    }
  #Prog li{
  font-size: 140%;
  color: rgb(0, 140, 205);
  padding-top: 17px;
  padding-bottom: 7px;
  }
}
  
@media screen and (max-width: 600px) {
  .Lang{
    padding-right: 22rem;
  }
  .im{
    width: 25%;
  }
}


